Source: lsmtool
Section: science
Priority: optional
Maintainer: KERN packaging <packaging@kernsuite.info>
Build-Depends:
 debhelper (>=10),
 dh-python,
 python3-all,
 python3-setuptools,
 python3-numpy,
 python3-matplotlib,
 python3-astropy,
 python3-pyvo,
 python3-pytest-runner
Standards-Version: 4.5.0
Homepage: https://github.com/darafferty/LSMTool/
X-Python3-Version: >= 3.6
Vcs-Git: https://github.com/kernsuite-debian/lsmtool
Vcs-Browser: https://github.com/kernsuite-debian/lsmtool

Package: python3-lsmtool
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}
Description: LOFAR Local Sky Model Tool  (Python 3)
 LSMTool allows the manipulation of LOFAR sky models (in the makesourcedb format).
 .
 This package installs the library for Python 3.

Package: lsmtool
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}, python-lsmtool
Description: LOFAR Local Sky Model Tool  (Python 3)
 LSMTool allows the manipulation of LOFAR sky models (in the makesourcedb format).
 .
 This package installs the library for Python 3.
